<!DOCTYPE html>

<html>
    <head>
        <title>Reserva de Turno</title>
        <link rel="stylesheet" href="public/css/contenido.css">
        <link rel="stylesheet" href="public/css/footer.css">
        <link rel="stylesheet" href="public/css/cabecera.css">
        <link rel="Shortcut Icon" href="img/favicon.ico" type=”image/x-icon” />
    </head>
    <body>
        <main>
        {% include 'partials/cabecera.view.php' %}
        <section class="ingreso_datos_a_confirmar">
            <article class="titulo">
                <h1>Reserva de Turno</h1>
            </article>
            <article class="datos_mostrados">
                <fieldset class="persona">
                    <legend>
                         <h4>Datos del Paciente : {{ turno.nombre_paciente }}</h4>
                    </legend>
                    <h5>Telefono : {{ turno.telefono }}</h5>
                    <h5>Email : {{ turno.email }}</h5>
                    <h5>Edad : {{ turno.edad }}</h5>
                    <h5>Talla del Calzado : {{ turno.talla_calzado }}</h5>
                    <h5>Altura : {{ turno.altura }}</h5>
                    <h5>Fecha de Nacimiento : {{ turno.fecha_nacimiento }}</h5>
                    <h5>Color de Pelo : {{ turno.color_pelo }}</h5>
                </fieldset>
                <fieldset class="turno">
                    <legend>
                        <h4>Datos del Turno</h4>
                    </legend>
                    <h5>Fecha del Turno : {{ turno.fecha_turno }}</h5>
                    <h5>Hora del Turno : {{ turno.hora_turno }}</h5>
                    <img class="receta_cargada" src="data:image/{{ tipo_imagen }};base64,{{ archivo_imagen }}">
                </fieldset>
            </article>    
    
            <article class="datos_ocultos">
                <form class="form_reserva" action="/turno_confirmado" method = 'POST' enctype="multipart/form-data">
                    <input class="input_oculto" type="text" value="{{ turno.nombre_paciente }}" name="nombre_paciente" >
                    <input class="input_oculto" type="text" value="{{ turno.email }}" name="email" >
                    <input class="input_oculto" type="text" value="{{ turno.telefono }}" name="telefono" >
                    <input class="input_oculto" type="text" value="{{ turno.edad }}" name="edad" >
                    <input class="input_oculto" type="text" value="{{ turno.talla_calzado }}" name="talla_calzado" >
                    <input class="input_oculto" type="text" value="{{ turno.altura }}" name="altura" >
                    <input class="input_oculto" type="text" value="{{ turno.fecha_nacimiento }}" name="fecha_nacimiento" >
                    <input class="input_oculto" type="text" value="{{ turno.color_pelo }}" name="color_pelo" >
                    <input class="input_oculto" type="text" value="{{ turno.fecha_turno }}" name="fecha_turno" >
                    <input class="input_oculto" type="text" value="{{ turno.hora_turno }}" name="hora_turno" >
                    <input class="input_oculto" type="hidden" name="archivo_imagen" value="{{ archivo_imagen }}">
                    <input class="input_oculto" type="text" value="{{ tipo_imagen }}" name="tipo_imagen" >
                {% if datos_mal_cargados is not empty %}
                    {% for error,detalle_error in datos_mal_cargados %}    
                        <input class="input_oculto" type="text" value="{{ detalle_error }}" name="{{ error }}" >
                    {% endfor %}   
                    <input class="boton_disabled" type="submit" name='enviar' value="Confirmar Turno" disabled>
                    <input class="boton" type="submit" name='corregir' value="Corregir Turno">
                </form>    
                    <ul> <h1 class="h1error">Errores Encontrados:</h1>
                    {% for error,detalle_error in datos_mal_cargados %}    
                        <li>Error: {{ detalle_error }}</li>
                    {% endfor %}    
                    </ul>
                {% else %}    
                        <input class="boton" type="submit" name='enviar' value="Confirmar Turno">
                    </form>    
                    <h1>Datos correctamente cargados</h1>
                {% endif %}    
            </article>
        </section>
      </main>     
      {% include "partials/footer.view.php" %}

    </body>
</html>